<section class="w-[80%] mx-auto">
<h2 class="text-center my-5 text-3xl text-green-700" >forget password</h2>
@if (step==1) {
   <form [formGroup]="sendmail" (ngSubmit)="submitEmail()" class="mb-6">
<div>
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">email</label>
    <input formControlName="email" type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  required />
<button class="btn-style"> next</button>
</div>
</form> 
}

@if (step==2) {
  <form [formGroup]="verifycode" (ngSubmit)="submitCode()" class="mb-6">
<div>
    <label for="code" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">code</label>
    <input formControlName="resetCode" type="text" id="code" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  required />
    <button class="btn-style"> next</button>
</div>
</form>  
}


@if (step==3) {
   <form [formGroup]="resetPassword" (ngSubmit)="submitPassword()" class="mb-6">
    <div>
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">email</label>
        <input formControlName="email" type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  required />
        
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">new password</label>
        <input formControlName="newPassword"  type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  required />
       
        <button class="btn-style"> next</button>
    </div>
    </form> 
}


</section>
