<section class="w-1/2 m-auto bg-gray-50 p-4 border-1 rounded shadow">
    <h1 class="text-3xl text-green-700 text-center" >Log in</h1>
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
    
      
    <div class="mb-1">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> email</label>
    
        <input type="text" id="email" formControlName="email"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required />
    
    @if (loginForm.get('email')?.errors
     && loginForm.get('email') ?.touched) {
    
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Danger</span>
            <div>
              <span class="font-medium">Ensure that these requirements are met:</span>
                <ul class="mt-1.5 list-disc list-inside">
                    @if ( loginForm.get('email')?.getError('required')) {
                        <li>email is required</li>
                    }
                  @if (loginForm.get('email')?.getError('email')) {
                    <li>email must be in mail format</li>
                  }
                  
                  
              </ul>
            </div>
          </div>
    }
    
    
    
    </div>
    
    
    <div class="mb-1">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> password</label>
    
        <input type="password" id="password" formControlName="password"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required />
    
        @if (loginForm.get('password')?.errors
        && loginForm.get('password') ?.touched){
       
           <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
               <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                 <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
               </svg>
               <span class="sr-only">Danger</span>
               <div>
                 <span class="font-medium">Ensure that these requirements are met:</span>
                   <ul class="mt-1.5 list-disc list-inside">
                       @if ( loginForm.get('password')?.getError('required')){
                           <li>password is required</li>
                       }
                     @if (loginForm.get('password')?.getError('pattern')){
                       <li>Error: The password must begin with an uppercase letter (A-Z)</li>
                     }
                     
                     
                 </ul>
               </div>
             </div>
       }
    
    
    </div>
    
   
    
    
    <button  [disabled]="loading" type="submit" class="btn-style">SignIn
    
      @if (loading) {
        <span><i class="fas fa-spin fa-spinner"></i></span>
      }
      
    
    </button>
    @if (msgError){
      <p class="bg-red-500 text-white px-2 py-6 border rounded text-center"  > {{msgError}}</p>
    }
    
    @if (success){
       <p class="bg-green-500 text-white px-2 py-6 border rounded text-center"  > 
       <i class="fas fa fa-check"></i> {{success}}</p>
    }

    <a class="text-green-600 block mx-auto text-center" routerLink="/forget">forgetPassword?</a>
    </form>
    
    
    
    
    
    
    
    
    
    </section>
    
